@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
 max-width: 1440px;
 max-height: 1080px;
}

.header{
    font-family: inconsolata, monospace;
    font-size: 24px;
    padding-top: 40px;
    padding-left: 77px;
}

img{
    width: 539px;
    float: left;
    margin-left: 77px;
    margin-top: 200px;
    margin-right: 120px;
}

.content h1{
    margin-top: 200px;
    font-family: Space Mono, monospace;
    font-size: 64px;
}
.content p{
    font-family: Space Mono, monospace;
    font-size: 24px;
    margin-top: 36px;
}

.botao{
    font-size: 14px;
    font-family: Space Mono, monospace;
    margin-top: 64px;
    background-color: black;
    width: 216px;
    color: white;
    margin-left: 740px;
    padding: 23px 30px 23px 30px;
}

footer{
    clear: left;
    font-family: Montserrat, monospace;
    font-size: 14px;
    text-align: center;
    color:#BDBDBD;
    margin-top: 308px;
    margin-bottom: 24px;
}

@media screen and (max-width:500px) {
  .header{
    padding-top: 20px;
    padding-left: 25px;
    font-size: 20px;
  }
  .main{
      max-width: 375px;
  }
 
    img{
        float: none;
        margin-top: 70px;
        margin-left: 40px;
        max-width: 286px;
        margin-right: 0;
    }
    .content h1{
        margin-top: 77px;
        font-size: 48px;
        padding-left: 20px;
    }
    .content p{
        margin-left: 25px;
        font-size: 18px;
        color: gray;
        font-weight: 100;
    }
    .botao{
        margin-left: 25px;
    }
    footer{
        margin-top: 114px;
    }
}